{{!< default}}

<div class="container">
    {{#post}}
        <article class="{{post_class}}">
            <header class="post-header">
                <h1 class="post-title">{{title}} <span class="post-date"><time datetime="{{posts.0.published_at}}">{{date posts.0.published_at format="MMMM Do YYYY"}}</time></span></h1>
            </header>

            <div class="post-content">
                {{{content}}}
            </div>
        </article>
    {{/post}}
</div>